/*----------- Design ----------*/

html {
  font: normal 100%/1.3 Open Sans, sans-serif;
}

.masthead-section {
  background-color: #e2dfd2;
}

.body-color {
  background-color: #eceae1;
}

.left {
  background-color: rgba(236, 234, 225, .50)
}

.right {
  background-color: rgba(225, 236, 234, .40)
}

.blue {
  color: #203347
}

svg {
  stroke: transparent;
}


/*----------- Header ----------*/

.intro-p {
  width: 90%;
}

.bar-text {
  fill: #0a3656;
  }

.bar-org {
  fill: #ed5a49;
}

.bar-blue {
  fill: #e9f5fc;
}

.text-blue {
  fill: #dde8f0;
  stroke: #dde8f0;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.dot-blue {
  fill: none;
  stroke: #0a3656;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 0,8;
}

.line-yellow {
  fill: none;
  stroke: #ecd177;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}


/*----------- Xsml 240px ----------*/

@media only screen and (min-width: 14em) {

  html {
    font-size: 80%;
  }

}

/*----------- Sml 320px ----------*/

@media only screen and (min-width: 20em) {

  html {
    font-size: 100%;
  }

}

/*----------- Med 600px ----------*/

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
  }

}

/*----------- Lrg 900px ----------*/

@media only screen and (min-width: 55em) {

  html {
    font-size: 120%;
  }

}


/*----------- Print ----------*/

@media print {

}
